.Libreria-div {
  background-image: url('/assets/libro333.jpg'); 
  height: 100vh;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding: 1rem;
}

.Lista-h2{
    font-family: 'Garamond', serif;
    font-size: 2.5rem;
    color: #D2691E; 
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 2rem;
    border-radius: 10px;
    margin-top: 7rem;
    
}

.add-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #D2691E; 
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

.lightbox {
  position: fixed; /* Fijar la posición del contenido */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar en la pantalla */
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegurarse de que está por encima de otros elementos */
  background-color: rgba(255, 245, 230, 0.8); 
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Ocultar el formulario de añadir por defecto */
.Add-form {
  display: none;
}



.close-button {
  background-color: #D2691E; /* Naranja otoñal */
  width: 1.7rem;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  margin-top: 1rem;
  padding: .3rem;
  font-weight: bold;
}

.Add-h2 , .Edit-h2 {
  font-size: 1.7rem;
  padding: 1rem;
  color: #D2691E;
  text-align: center;
  font-family: 'Garamond', serif;
  font-weight: bold;
  
}

.Libros-ul {
  width: 30%; 
  margin: auto;
  margin:.5rem;
  background-color: rgba(255, 245, 230, 0.8); 
  padding: 10px;
  border-radius: 10px;
  overflow: hidden; 
}

.Libro-cada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 245, 230, 0.8); 
  padding: 1.5rem;
  border-radius: 10px;
}


.Botones-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Libros-li {
  list-style: none;
  color: #4B3621; 
  font-size: 1rem;
}

.Delete-boton, .Edit-boton {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.Delete-boton {
  background-color: #8B0000; 
}

.Edit-boton {
  background-color: #556B2F; 
}

.Delete-boton:hover, .Edit-boton:hover {
  background-color: #9e6329; 
}

.Formulario-edit {
  width: 80%; 
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

.Add-form, .Edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(255, 245, 230, 0.8); 
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}

.Add-input, .Edit-input {
  border: 3px solid #8B4513; 
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  color: #8B4513; 
  background-color: rgba(255, 250, 240, 0.8); 
}
.Edit-form{
  
  display: flex;
  flex-flow: row nowrap;
  
}
.Add-submit, .Edit-submit {
  background-color: #D2691E; 
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.Add-submit:hover, .Edit-submit:hover {
  background-color: #A0522D; 
}

.Add-input, .Edit-input {
  border: 3px solid #8B4513; 
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  color: #8B4513; 
  background-color: rgba(255, 250, 240, 0.8); 
  transition: border-color 0.3s ease; 
}

.Add-input:focus,
.Add-input:active,
.Edit-input:focus,
.Edit-input:active {
  border-color: #8B4513; 
  outline: none; 
}


@media(max-width : 1328px){
  .Libros-ul{
    width: 35%;
  }
}
@media(max-width : 1024px){
  .Libros-ul{
    width: 40%;
  }
}