.Libreria-div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 1rem;
    background-image: url('/assets/libro333.jpg'); 
    background-size: contain;
    background-position: center;
}

.Lista-h2{
    margin-bottom: 1rem;
    margin-top: 7rem;
    padding: 2rem;
    font-family: 'Garamond', serif;
    font-size: 2.5rem;
    color: #D2691E; 
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
}

.Add-button {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #D2691E; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Add-button:hover{
    background-color: #793f16;
}

.Lightbox {
    position: fixed; 
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 3; 
    background-color: rgba(231, 218, 199, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%); 
}

.Close-button {
    position: absolute;
    top: 0;
    width: 1.7rem;
    margin-top: 1rem;
    padding: .3rem;
    background-color: #D2691E; 
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.Add-h2 {
    padding: 1.5rem;
    font-size: 1.7rem;
    font-family: 'Garamond', serif;
    text-align: center;
    color: #D2691E;
  
}

.Libros-ul {
    width: 30%; 
    margin:.5rem;
    padding: .8rem;
    background-color: rgba(255, 245, 230, 0.8); 
    border-radius: 10px;
    overflow: hidden; 
}

.Libro-cada {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: rgba(255, 245, 230, 0.8); 
    border-radius: 10px;
}

.Libros-li, .Libros-liA {
    font-size: 1rem;
    list-style: none;
    color: #8B4513;
    overflow: hidden; 
    text-overflow: ellipsis;   /* Añade puntos suspensivos (...) al final del texto si es muy largo */
    white-space: normal;       /* Permite que el texto se envuelva */
    word-wrap: break-word;     /* Permite que las palabras largas se dividan */
}

.Libros-liA{
    font-weight: bold;
}

.Texto-div {
    display: flex;
    flex-direction: column;
    flex: 1;                   /* Permite que el contenedor de texto tome el espacio disponible */
    margin-right: 1rem;       
    min-width: 0;              /* Permite que el texto se trunque correctamente */
    word-wrap: break-word;     /* Permite que las palabras largas se dividan */
}


.Botones-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-shrink: 0; /* Evita que los botones se reduzcan */
}


.Delete-boton, .Edit-boton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

.Delete-boton {
  background-color: #8B0000; 
}

.Edit-boton {
  background-color: #556B2F; 
}

.Delete-boton:hover, .Edit-boton:hover {
  background-color: #9e6329; 
}

.Formulario-edit {
  width: 90%; 
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

.Add-form, .Edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: rgba(255, 245, 230, 0.8); 
  border-radius: 10px;
}

.Add-input, .Edit-input {
    width: 100%;
    padding: 0.5rem;
    border: 3px solid #8B4513; 
    color: #8B4513; 
    background-color: rgba(255, 250, 240, 0.8); 
    word-wrap: break-word;
}

.Edit-form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.Edit-h2{
    padding: 1rem;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Garamond', serif;
    font-weight: bold;
    color: #D2691E;
}

.Add-submit, .Edit-submit {
    padding: 0.5rem;
    font-size: .9rem;
    background-color: #D2691E; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.Add-submit:hover, .Edit-submit:hover {
    background-color: #A0522D; 
}

.Add-input, .Edit-input {
    padding: 0.5rem;
    border: 3px solid #8B4513; 
    border-radius: 5px;
    color: #8B4513; 
    background-color: rgba(255, 250, 240, 0.8); 
    transition: border-color 0.3s ease; 
}

.Add-input:focus,
.Add-input:active,
.Edit-input:focus,
.Edit-input:active {
    border-color: #8B4513; 
    outline: none; 
}


@media(max-width : 1328px){

    .Libros-ul{
        width: 40%;
    }
}

@media(max-width : 1024px){

    .Libros-ul{
        width: 50%;
    }
}

@media(max-width : 768px){

    .Libros-ul{
        width: 80%;
    }
    .Lightbox{
        width: 70%;
    }
    .Edit-form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
  
}

@media(max-width: 480px) {
    .Lista-h2{
        font-size: 2em;
    }
    .Libro-cada {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .Botones-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Texto-div {
        width: 100%; 
    }

    .Lightbox{
        padding: 1rem;
    }
    .Add-form{
        padding: .5rem;
    }
    .Close-button{
        width: 1.4rem;
    }
    .Add-h2{
        font-size: 1.4rem;
    }
}

@media(max-width : 320px){

    .Libros-ul{
        width: 100%;
    }
}
